@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@100..900&display=swap');


:root{
    /* backgrounds */
    --bgTheme1: hsl(222, 26%, 31%);
    --bgTheme2: hsl(0, 0%, 90%);
    --bgTheme3: hsl(268, 75%, 9%);

    --toggle-keypad-bgTheme1: hsl(223, 31%, 20%);
    --screen-bgTheme1: hsl(224, 36%, 15%);
    --toggle-keypad-bgTheme2: hsl(0, 5%, 81%);
    --screen-bgTheme2: hsl(0, 0%, 93%);
    --toggle-keypad-screen-bgTheme3: hsl(268, 71%, 12%);

    /* keys */
    --desaturated-dark-blue-keybg-theme1: hsl(225, 21%, 49%);
    --desaturated-dark-blue-keyshadow-theme1: hsl(224, 28%, 35%);
    --red-keybg-toggle-theme1: hsl(6, 63%, 50%);
    --darkred-keyshadow-theme1: hsl(6, 70%, 34%);
    --keybg-theme1: hsl(30, 25%, 89%);
    --keyshadow-theme1: hsl(28, 16%, 65%);

    --dark-moderate-cyan-keybg-theme2: hsl(185, 42%, 37%);
    --very-dark-cyan-keyshadow-theme2: hsl(185, 58%, 25%);
    --orange-keybg-toggle-theme2: hsl(25, 98%, 40%);
    --dark-orange-keyshadow-theme2: hsl(25, 99%, 27%);
    --keybg-theme2: hsl(45, 7%, 89%);
    --keyshadow-theme2: hsl(35, 11%, 61%);

    --dark-violet-keybg-theme3: hsl(281, 89%, 26%);
    --vivid-maganta-keyshadow-theme3: hsl(285, 91%, 52%);
    --pure-cyan-toggle-keybg-theme3: hsl(176, 100%, 44%);
    --soft-cyan-keyshadow-theme3: hsl(177, 92%, 70%);
    --keybg-theme3: hsl(268, 47%, 21%);
    --keyshadow-theme3: hsl(290, 70%, 36%);

    /* text */
    --vary-dark-grayish-blue-theme1: hsl(221, 14%, 31%);
    --white-theme1: hsl(0, 0%, 100%);

    --very-dark-grayish-yellow-theme2: hsl(60, 10%, 19%);
    --white-theme2: hsl(0, 0%, 100%);

    --light-yellow-theme3: hsl(52, 100%, 62%);
    --very-dark-blue-theme3: hsl(198, 20%, 13%);
    --white-theme3: hsl(0, 0%, 100%);
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: League Spartan;
    font-weight: 700;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: var(--bgTheme1);
}

#container {
    /* border: 2px solid #333; */
    border-radius: 5px;
    padding: 2em 1.45em;
    overflow-x: hidden;
}

body.active1 {
    background-color: var(--bgTheme2);
}

body.active2 {
    background-color: var(--bgTheme3);
}

.toggle, .right{
    display: flex;
    align-items: center;
}

.title {
    width: 100%;
    margin-top: 16px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 12px;
}

.title h4 {
    font-size: 2.45em;
    color: var(--white-theme1);
}

body.active1 .title h4 {
    color: var(--very-dark-grayish-yellow-theme2);
}

body.active2 .title h4 {
    color: var(--light-yellow-theme3);
}

.toggle .theme {
    color: var(--white-theme1);
    font-weight: 600;
    transform: scale(0.7, 0.7);
    margin-right: 18px;
    letter-spacing: 1.45px;
}

body.active1 .toggle p {
    color: var(--very-dark-grayish-yellow-theme2);
}

body.active2 .toggle p {
    color: var(--light-yellow-theme3);
}

.right p {
    color: var(--white-theme1);
    cursor: pointer;
}

#one, #two, #three {
    z-index: 1;
    width: 20px;
    height: 52px;
    padding-left: 6px;
    font-size: 0.85em;
    margin-right: 6px;
}

.box {
    background-color: var(--toggle-keypad-bgTheme1);
    position: relative;
    top: -26px;
    width: 76px;
    height: 27px;
    border-radius: 20px;
}

#circle {
    width: 16px;
    height: 16px;
    background-color: var(--red-keybg-toggle-theme1);
    box-shadow: var(--darkred-keyshadow-theme1);
    border-radius: 50%;
    position: absolute;
    top: 5px;
    left: 0px;
    margin-left: 3px;
}

body.active1 .box {
    background-color: var(--toggle-keypad-bgTheme2);
}

body.active1 #circle {
    background-color: var(--orange-keybg-toggle-theme2);
    box-shadow: var(--dark-orange-keyshadow-theme2);
}

body.active2 .box {
    background-color: var(--toggle-keypad-screen-bgTheme3);
}

body.active2 #circle {
    background-color: var(--pure-cyan-toggle-keybg-theme3);
    box-shadow: var(--soft-cyan-keyshadow-theme3);
}

#screen {
    width: 100%;
    height: 100px;
    padding: 16px;
    text-align: right;
    font-size: 32px;
    background-color: var(--screen-bgTheme1);
    color: var(--white-theme1);
    border: 0;
    outline: none;
    border-radius: 7px;
    margin-bottom: 3vh;
}

body.active1 #screen{
    background-color: var(--screen-bgTheme2);
    color: var(--very-dark-grayish-yellow-theme2);
}

body.active2 #screen {
    background-color: var(--toggle-keypad-screen-bgTheme3);
    color: var(--light-yellow-theme3);
}

button {
        height: 57px;
        font-size: 32px;
        outline: none;
        border: 0;
        cursor: pointer;
        border-radius: 7px;
        background-color: var(--keybg-theme1);
        box-shadow: 0px 4px 0.6px 0px var(--keyshadow-theme1);
        color: var(--vary-dark-grayish-blue-theme1);
}

button:hover {
    background-color: #fff;
}

body.active1 button {
    background-color: var(--keybg-theme2);
    box-shadow: 0px 4px 0.6px 0px var(--keyshadow-theme2);
}

body.active1 button:hover {
    background-color: #fff;
}

body.active2 button {
    background-color: var(--keybg-theme3);
    box-shadow: 0px 4px 0.6px 0px var(--keyshadow-theme3);
    color: var(--light-yellow-theme3);
}

body.active2 button:hover {
    background-color: hsl(268, 50%, 42%);
}

.btn {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 16px;
    background-color: var(--toggle-keypad-bgTheme1);
    padding: 24px 22px;
    border-radius: 7px;
}

body.active1 .btn {
    background-color: var(--toggle-keypad-bgTheme2);
}

body.active2 .btn {
    background-color: var(--toggle-keypad-screen-bgTheme3);
}

.reset{
    font-size: 24px;
    grid-column: 1/3;
    color: var(--white-theme1);
    background-color: var(--desaturated-dark-blue-keybg-theme1);
    box-shadow: 0px 4px 0.6px 0px var(--desaturated-dark-blue-keyshadow-theme1);
}

.reset:hover {
    background-color: hsl(226, 44%, 67%);
}

body.active1 .reset {
    background-color: var(--dark-moderate-cyan-keybg-theme2);
    box-shadow: 0px 4px 0.6px 0px var(--very-dark-cyan-keyshadow-theme2);
}

body.active1 .reset:hover {
    background-color: hsl(185, 46%, 58%);;
}

body.active2 .reset {
    background-color: var(--dark-violet-keybg-theme3);
    box-shadow: 0px 4px 0.6px 0px var(--vivid-maganta-keyshadow-theme3);
}

body.active2 .reset:hover {
    background-color: hsl(281, 74%, 44%);;
}

.equal {
    font-size: 24px;
    color: var(--white-theme1);
    grid-column: 3/5;
    background-color: var(--red-keybg-toggle-theme1);
    box-shadow: 0px 4px 0.6px var(--darkred-keyshadow-theme1);
}

.equal:hover {
    background-color: hsl(6, 100%, 62%);
}

body.active1 .equal {
    background-color: var(--orange-keybg-toggle-theme2);
    box-shadow: 0px 4px 0.6px var(--dark-orange-keyshadow-theme2);
}

body.active1 .equal:hover {
    background-color: hsl(25, 78%, 55%);;
}

body.active2 .equal {
    background-color: var(--pure-cyan-toggle-keybg-theme3);
    box-shadow: 0px 4px 0.6px var(--soft-cyan-keyshadow-theme3);
    color: var(--very-dark-blue-theme3);
}

body.active2 .equal:hover {
    background-color: hsl(176, 94%, 67%);;
}

.del {
    font-size: 24px;
    color: var(--white-theme1);
    background-color: var(--desaturated-dark-blue-keybg-theme1);
    box-shadow: 0px 4px 0.6px 0px var(--desaturated-dark-blue-keyshadow-theme1);
}

.del:hover {
    background-color: hsl(226, 44%, 67%);
}

body.active1 .del {
    background-color: var(--dark-moderate-cyan-keybg-theme2);
    box-shadow: 0px 4px 0.6px 0px var(--very-dark-cyan-keyshadow-theme2);
}

body.active1 .del:hover {
    background-color: hsl(185, 46%, 58%);
}

body.active2 .del {
    background-color: var(--dark-violet-keybg-theme3);
    box-shadow: 0px 4px 0.6px 0px var(--vivid-maganta-keyshadow-theme3);
}

body.active2 .del:hover {
    background-color: hsl(281, 74%, 44%);
}